<!-- Modal -->
  <div class="modal fade" id="createSaleForm" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <form id="create_sale_form" onsubmit='return createNewRecord();'>
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-bind="click: emptyRequestForm">&times;</button>
            <h4 class="modal-title">Add New Record</h4>
          </div>
          <div class="modal-body"> 
              <div class="form-group">
                <label>Customer ID:</label>
                <select class="form-control create_sale_field" name="customer_id" required="True">
                  <option value="" disabled selected>Select Customer</option>
                  {% for customer in customers %}
                    <option value="{{customer.customer_id}}">{{customer.customer_id}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Date Of Purchase:</label>
                <input type="date" class="form-control create_sale_field" id="purchase_date" name="purchase_date" required="True">
              </div>
              <div class="form-group">
                <label for="client">Fuel:</label> 
                <select class="form-control create_sale_field" name="fuel" required="True">
                  <option value="" disabled selected>Select Fuel Type</option>
                  <option value="C">CNG</option>
                  <option value="P">Petrol</option>
                  <option value="D">Diesel</option>
                </select>
              </div>
              <div class="form-group">
                <label>Vehicle Segment:</label>
                <input type="text" class="form-control create_sale_field" name="vehicle_segment" required="True" placeholder="Enter Vehicle Segment">
              </div>
              <div class="form-group">
                <label>Selling Price:</label>
                <input type="number" class="form-control create_sale_field" name="selling_price" required="True" max=1000000 placeholder="Enter Selling Price and Should Be Less Than 1 Million">
              </div>    
              <div class="form-group">
                <label for="client">Power Steering:</label> 
                <select class="form-control create_sale_field" name="power_steering" required="True">
                  <option value="" disabled selected>Power Steering</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="client">Air Bugs:</label> 
                <select class="form-control create_sale_field" name="air_bugs" required="True">
                  <option value="" disabled selected>Air Bugs</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="client">Sun Roof:</label> 
                <select class="form-control create_sale_field" name="sun_roof" required="True">
                  <option value="" disabled selected>Sun Roof</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="client">Matt Finish:</label> 
                <select class="form-control create_sale_field" name="matt_finish" required="True">
                  <option value="" disabled selected>Matt Finish</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="client">Music System:</label> 
                <select class="form-control create_sale_field" name="music_system" required="True">
                  <option value="" disabled selected>Music System</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" >Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>      
    </div>
  </div>