

<!-- The Modal -->
<div class="modal" id="graphModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Graph</h4>
        <button type="button" class="close graph_close_btn" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="carGraph">
        
        <div id="resizable" style="height: 370px;border:1px solid gray;">
          <div id="chartContainer1" style="height: 100%; width: 100%;"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default graph_close_btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>