{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css files configuration   -->
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" /> 
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" />   
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	<link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />


	<!-- js files configuration -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/sales.js' %}" defer></script>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery-ui.1.11.2.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>   
