<table id="feature_requests_table">
  <thead>
    <tr>
      <th>Sales ID</th>
      <th>Date of Purchase</th>
      <th>Customer ID</th>
      <th>Fuel</th>
      <th>Vehicle Segment</th>
      <th>Selling Price</th>
      <th>Power Steering</th>
      <th>Air Bugs</th>
      <th>Sun Roof</th>
      <th>Matt Finish</th>
      <th>Muzic System</th>
      <th>Customer Gender</th>
      <th>Customer Income Group</th>
      <th>Customer Region</th>
      <th>Customer Marital Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
    <tbody id="sales_records">

    </tbody>    
</table>
